@using WebApplication1.Data
@using WebApplication1.Services
@model WebApplication1.Models.AuditModel

@{
    ViewData["Title"] = "Audit";
    var approval = (Approval)ViewBag.Entity;
}

@section Head
{
    <style>
        .dl-horizontal dt {
            float: left;
            width: 110px;
            clear: left;
            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 2.4;
        }

        .dl-horizontal dd {
            margin-left: 130px;
            line-height: 2.4;
        }

        h4.sub-title {
            background-color: #f3f3f3;
            color: darkslategrey;
        }
    </style>
}

<h2>财务审核</h2>
<hr />
<div>
    <h4>@approval.ProjectName</h4>
    <h4>
        <span class="label label-primary">@ApproveStepUtil.GetDescription(approval.ApproveStep)</span>
        <span class="label label-success">@ApproveResultUtil.GetDescription(approval.ApproveResult)</span>
    </h4>
    <hr />
    <div>
        <h4 class="sub-title">申请内容</h4>
        <dl class="dl-horizontal">
            <dt>客户信息</dt>
            <dd>[@approval.CustomerJob] @approval.CustomerName - @approval.ContactNumber</dd>
            @*<dt>项目</dt>
                <dd>@Model.ProjectName</dd>*@
            <dt>预计完成日期</dt>
            <dd>@approval.ExpectedClosingDate?.ToString("yyyy-MM-dd")</dd>
            <dt>预计成交金额</dt>
            <dd>@approval.ExpectedClosingCost</dd>
            <dt>预期利润</dt>
            <dd>@approval.ExpectedClosingProfit</dd>
            <dt>申请金额</dt>
            <dd>@approval.AppliedAmount</dd>
            <dt>申请原因</dt>
            <dd>@approval.AppliedReason</dd>
            <dt>申请时间</dt>
            <dd>@approval.CreateAt.ToString("yyyy-MM-dd HH:mm")</dd>
        </dl>
    </div>

    <div>
        <h4 class="sub-title">第一次审批</h4>
        <dl class="dl-horizontal">
            <dt>审批人</dt>
            <dd>@approval.ApproverName</dd>
            <dt>审批时间</dt>
            <dd>@approval.ApproveAt?.ToString("yyyy-MM-dd HH:mm")</dd>
            <dt>审批备注</dt>
            <dd>@approval.ApproveRemark</dd>
        </dl>
    </div>

    <div>
        <h4 class="sub-title">项目执行情况</h4>
        <dl class="dl-horizontal">
            <dt>订单编号</dt>
            <dd>@approval.OrderNo</dd>
            <dt>税点</dt>
            <dd>@approval.TaxPoint</dd>
            <dt>付款信息</dt>
            <dd>@approval.PaymentInfo</dd>
            <dt>实际成交金额</dt>
            <dd>@approval.ActualClosingAmount</dd>
            <dt>实际成交利润</dt>
            <dd>@approval.ActualClosingProfit</dd>
            <dt>回款记录</dt>
            <dd>@approval.Collections</dd>
            <dt>完成日期</dt>
            <dd>@approval.CompleteAt?.ToString("yyyy-MM-dd")</dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Audit">
            <input asp-for="Id" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuditProfit" class="control-label"></label>
                <input asp-for="AuditProfit" class="form-control" />
                <span asp-validation-for="AuditProfit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualServiceAmount" class="control-label"></label>
                <input asp-for="ActualServiceAmount" class="form-control" />
                <span asp-validation-for="ActualServiceAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="提交" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表</a>
</div>

