@using WebApplication1.Data
@model ApproveModel

@{
    ViewData["Title"] = "Approve";
    var approval = (Approval)ViewBag.Entity;
}

@section Head
{
    <style>
        .dl-horizontal dt {
            float: left;
            width: 110px;
            clear: left;
            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 2.4;
        }

        .dl-horizontal dd {
            margin-left: 130px;
            line-height: 2.4;
        }

        h4.sub-title {
            background-color: #f3f3f3;
            color: darkslategrey;
        }
    </style>
}

<h2>申请详情</h2>

<div>
    <h4>@approval.CustomerUnit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>申请人</dt>
        <dd>@approval.ApplicantName</dd>
        <dt>客户单位</dt>
        <dd>@approval.CustomerUnit</dd>
        <dt>联系人</dt>
        <dd>[@approval.CustomerJob] @approval.CustomerName - @approval.ContactNumber</dd>
        <dt>项目</dt>
        <dd>@approval.ProjectName</dd>
        <dt>预计完成日期</dt>
        <dd>@approval.ExpectedClosingDate:yyyy-MM-dd</dd>
        <dt>预计成交金额</dt>
        <dd>@approval.ExpectedClosingCost</dd>
        <dt>预期利润</dt>
        <dd>@approval.ExpectedClosingProfit</dd>
        <dt>申请金额</dt>
        <dd>@approval.AppliedAmount</dd>
        <dt>申请原因</dt>
        <dd>@approval.AppliedReason</dd>
    </dl>
</div>
<form asp-action="Approve">
    <input asp-for="Id" type="hidden" />
    <div class="form-group">
        <label class="control-label">审批结果</label>
        <select asp-for="IsPass" class="form-control">
            <option value="true">通过</option>
            <option value="false">拒绝</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">审批说明</label>
        <textarea asp-for="Remark" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="确认" class="btn btn-primary" />
        <input type="button" onclick="window.history.go(-1)" value="返回" class="btn btn-default" />
    </div>
</form>
<div>
    <a asp-action="Index">返回列表</a>
</div>
