@using WebApplication1.Services
@model IEnumerable<WebApplication1.Data.Approval>

@{
    ViewData["Title"] = "部门申请";
}

<h2>@ViewData["Title"]</h2>
@foreach (var item in Model)
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8 col-xs-8">
                    <b>@item.CustomerUnit</b>
                </div>
                <div class="col-md-4 col-xs-4 text-right">
                    <a asp-action="Details" asp-route-id="@item.Id" class="text-right">详情</a>
                </div>
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(item.ProjectName))
        {
            <div class="panel-body">
                @item.ProjectName
            </div>
        }
        <table class="table">
            <tbody>
            <tr>
                <td><b>当前阶段</b></td>
                <td>@ApproveStepUtil.GetDescription(item.ApproveStep)</td>
            </tr>
            <tr>
                <td><b>审批结果</b></td>
                <td>@ApproveResultUtil.GetDescription(item.ApproveResult)</td>
            </tr>
            <tr>
                <td><b>创建时间</b></td>
                <td>@item.CreateAt.ToString("yyyy-MM-dd HH:mm")</td>
            </tr>
            </tbody>
        </table>
    </div>
}